.absolute {
  position:absolute;
  left:0px;
  width:100%;
  height:auto;
}


//@keyframes rot {
//  from {
//    transform: rotate(0deg)
//               translate(-3px)
//               rotate(0deg);
//  }
//  to {
//    transform: rotate(360deg)
//               translate(-3px) 
//               rotate(-360deg);
//  }
//}
//
//@keyframes rot_two {
//  from {
//    transform: rotate(0deg)
//               translate(4px)
//               rotate(0deg);
//  }
//  to {
//    transform: rotate(360deg)
//               translate(4px) 
//               rotate(-360deg);
//  }
//}
//
//@keyframes rot_three {
//  from {
//    transform: rotate(0deg)
//               translate(-8px)
//               rotate(0deg);
//  }
//  to {
//    transform: rotate(360deg)
//               translate(-8px) 
//               rotate(-360deg);
//  }
//}


.aquarell {
  width:100%;
  height:auto;
  position:relative;
  z-index:10000;
  pointer-events:none;
  animation: rot 4s infinite linear;
  &.splash_2 {
    @extend .absolute;
    top:21.8%;
    animation: rot_two 5s infinite linear;
    @include bp(phone) {
      top:36.8%;
    } 
  }
  &.splash_3 {
    @extend .absolute;
    top:60%;
    animation: rot_three 3.4s infinite linear;
    @include bp(phone) {
      top:75%;
    } 
  }
  .trenner_1 & {
    animation: rot 3.7s infinite linear;
  }
  .trenner_2 & {
    animation: rot_two 2.9s infinite linear;
  }
  .trenner_3 & {
    animation: rot_three 4.3s infinite linear;
  }
  -webkit-filter: contrast(1.1) saturate(1);
  filter: contrast(1.1) saturate(1);
  .darkSkin & {
    -webkit-filter: contrast(1) saturate(1);
    filter: contrast(1) saturate(1);
  }
  @include bp(phone) {
    @include transform(translateZ(0px) scale(1.45));
  }
}