.container {
  position:relative;
}


.videoContainer {
  @include bp(tablet) {
    margin: -23% 0 -12% 0;
  }
}

.openCallContainer {
  @include bp(tablet) {
    margin: -32% 0 0 0;
  }
}

.ticketsContainer {
  @include bp(tablet) {
    margin: -26% 0 0 0;
  }
}

.footerContainer {
  @include bp(tablet) {
    margin: 8% 0 -45% 0;
  }
}

.vvkContainer {
  @include bp(tablet) {
    padding: 4% 0 15% 0;
  }
}

.footer {
  .imprint {
    //opacity:0.4;
    position: absolute;
    bottom: 0px;
    text-align: center;
    width:100%;
    padding-bottom:2em;
    a {
      padding:1em;
      display:inline-block;
      position:relative;
      text-transform:uppercase;
      span {
        @include underlined(black);
        font-size:90%;
        font-weight:700;
      }
    }
  }
  @include bp(tablet) {
    height:0px;
    overflow:visible;
    width:100%;
  }
}

.imprintPageContainer {
  @include bp(tablet) {
    margin: 0 0 15% 0;
  }
}
