.container {
  position:relative;
}

.imageContainer {
  width:110%;
  margin-left:-5%;
  pointer-events:none;
  //@include transform(scale(1.1));
  &.fixed {
    position:fixed;
    bottom:0px;
    left:0px;
  }
}

.festivalContainer {
  margin: -12% 0 0 0;
}

.videoContainer {
  @include bp(tablet) {
    margin: -24% 0 -10% 0;
  }
}

.openCallContainer {
  margin: -32% 0 0 0;
  @include bp(tablet) {
    margin: -32% 0 0 0;
  }
}

.ticketsContainer {
  //margin: -26% 0 0 0;
  margin: -12% 0 0 0;
}

.footerContainer {
  margin: 10% 0 -35% 0;
  @include bp(tablet) {
    margin: 8% 0 -45% 0;
  }
}

.staticContainer {
  padding: 10% 0 30% 0;
  @include bp(tablet) {
    padding: 10% 0 20% 0;
    &.imprint {
      padding-top:0;
    }
  }
}

.footer {
  pointer-events:none;
  .imprint {
    //opacity:0.4;
    position: absolute;
    bottom: 0px;
    text-align: center;
    width:100%;
    padding-bottom:2em;
    a {
      padding:1em;
      display:inline-block;
      position:relative;
      text-transform:uppercase;
      pointer-events:auto;
      span {
        @include underlined(black);
        font-size:90%;
        font-weight:700;
        .darkSkin & {
          @include underlined(white);  
        }
      }
    }
  }
  @include bp(tablet) {
    height:0px;
    overflow:visible;
    width:100%;
  }
}

.section {
  width:100%;
  display:block;
  margin:0;
  padding:0;
  @include bp(tablet) {
    padding-top:6em;
  }
  @include bp(laptop) {
    padding-top:10em;
  }
  @include bp(desktop) {
    padding-top:13em;
    padding-left:6em;
    padding-right:6em;
  }
}

//.imprintPageContainer {
//  @include bp(tablet) {
//    margin: 0 0 15% 0;
//  }
//}
