
.footer {
  pointer-events: none;
  .imprint {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    padding-bottom: 2em;
    a {
      padding: 1em;
      display: inline-block;
      position: relative;
      text-transform: uppercase;
      pointer-events: auto;
      span {
        border-bottom: .23em solid #000;
        font-size: 90%;
        font-weight: 700;
        .darkSkin & {
          border-color:#fff;
        }
      }
    }
  }
  @include bp(tablet) {
    height: 0;
    overflow: visible;
    width: 100%;
  }
}

.ghostFooter {
  position: relative;
  width: 100%;
  text-align: center;
  margin: 100px 0 200px 0;
  @include bp(tablet) {
    margin:120px 0 240px 0;
  }
  @include bp(desktop) {
    margin:140px 0 280px 0;
  }
}

.backToTop {
  a {
    position: relative;
    display: inline-block;
    color: #000;
    font-size: 18px;
    font-family: Montserrat;
    font-weight: 900;
    color: #000;
    text-transform: uppercase;
    padding-bottom: .2em;
    border-bottom: .23em solid #000;
    &:before {
      content: '\27B3';
      position: absolute;
      bottom: 150%;
      left: 50%;
      width: 50px;
      margin-left: -25px;
      display: inline-block;
      transform: rotate(-90deg);
      transition: transform 0.2s ease;
    }
    .darkSkin & {
      color: #fff;
      border-color: #fff;
    }
    .no-touch & {
      &:hover {
        &:before {
          transform: translateY(-10px) rotate(-90deg);
        }
      }
    }
  }
}