.justify {
  display:block;
  text-align:justify;
  overflow:hidden;
  font-size:0.1px;
  padding:0 5%;
  list-style-type:none;
  .element {
    font-size:1.1rem;
    display:inline;
    display:inline-block;
    width:100%;
    vertical-align:top;
    padding:0 2.5%;
    margin-bottom:40px;
    box-sizing:border-box;
    list-style-type:none;
    border:0;
    outline:0;
    text-align:left;
    //overflow:hidden;
    .title, .label {
      line-height:1em;
      margin:0;
      padding:0;
    }
    p {
      margin-bottom:8px;
      max-width:none;
    }
    .title {
      @extend %h-asul;
      font-size:30px;
      margin-bottom:14px;
    }
    .label {
      text-transform:uppercase;
      font-size:16px;
      line-height:18px;
      margin-bottom:9px;
      margin-top:-7px;
      color:$green;
    }
    a {
      font-size:18px;
      display:inline-block;
      font-family:Asul;
      font-weight:600;
      margin-right:100%;
      border-bottom:0.2em solid $blue;
      margin-bottom:4px;
      //margin:4px 0;
    }
    @include bp(tablet) {
      width:49.9%;
      margin-bottom:4%;
      p {
        font-size:0.75em;
      }
    }
    @include bp(laptop) {
      width:33.3%;
    }
    &.large {
      @include bp(tablet) {
        width:100%;
      }
      @include bp(laptop) {
        width:66.6%;
      }
    }
    .iframe {
      position:relative;
      width:100%;
      padding-top:58%;
      height:0;
      overflow:hidden;
      iframe {
        width:100%;
        height:100%;
        position:absolute;
        top:0px;
        left:0px;
      }
      @include bp(phone) {
        padding-top:126%;
      }
    }
  }
}