.mountainWrap {
	position:absolute;
	bottom:0px;
	top:0px;
	height:auto;
	left:0px;
	width:100%;
	z-index:22;
	overflow:hidden;
}

.mountain {
	//position:relative;
	//display:inline-block;
	//float:left;
	width:20%;
	margin:0;
	padding:0;
	height:auto;
	min-height:20px;
	position:absolute;
	top:100%;
	overflow:visible;
	//background:red;
	img {
		width:100%;
		min-width:100%;
		height:auto;
		position:relative;
	}
}

.mtn1, .mtn2, .mtn3, .mtn4, .mtn5 {
	display:none;

}

.mtn1 {
	left:0%;
	img { @include transform(scale(1.1)); }
	
}
.mtn2 {
	left:20%;
	img { @include transform(scale(1.2)); }
	
}
.mtn3 {
	left:20%;
	width:60%;
	display:block;
	img {
		@include transform(scale(0.8));
	}
	
}
.mtn4 {
	left:60%;
	img { @include transform(scale(1.5)); }
	
}
.mtn5 {
	left:80%;
	img { @include transform(scale(1.5)); }
	
}