.navigation {
	@include bp(tablet) {
		width:$grid * 2;
		float:left;
		//.no-touch &, .no-js & {
			&:hover {
				.menuWrap {
					display:block;
				}
				h1 {
					display:none;
				}
			}
		//}
	}
}

.sinstruct_2014_tag {
	@include bp(tablet) {
		width:300px;
		&:hover {
			//z-index:8000;
			.logo {
				@include underlined(transparent);
			}
			.menuWrap {
				display:block;
			}
		}
	}

}

.menuWrap {
	display:none;
	position:relative;
	width:100%;
	height:auto;
	overflow:hidden;
	padding:1em;
	width:60%;
	min-width:11em;
	margin:0 auto 0 auto;
	@include bp(desktop) {
		padding:1.2em;
	}
}

.menu {
	width:100%;
	background:black;
	color:white;
	list-style:none;
	padding:1em 0;
	//border:0.2em solid rgba(0,0,0,0.1);
	@include bp(desktop) {
		padding:1.5em 0;
	}
	a {
		border-bottom:0.2em solid transparent;
		.no-touch & {
			&:hover {
				border-bottom:0.2em solid white;
			}
		}
	}
}


.date {
	@include bp(tablet) {
		width:$grid * 2;
		float:right;
	}
}

.anchor {
	position:relative;
	display:block;
	width:0px;
	height:0px;
	font-size:0.01em
}


//.nav {
//	position:fixed;
//	top:0px;
//	right:100%;
//	bottom:0px;
//	width:$navWidth / 1.5;
//	height:100%;
//	z-index:50;
//	overflow:visible;
//	.wrap {
//		position:relative;
//		background:$blue;
//		//background-image:url('../content/See.jpg');
//		top:0px;
//		right:0px;
//		width:100%;
//		height:100%;
//		display:block;
//		@include perspective(900);
//	}
//	@include bp(tablet) {
//		width:$navWidth;
//	}
//}
//
//.nav .colorWrap {
//	//background:$blue;
//	background:white;
//	//box-shadow:inset 0px 0px 0px 14px $blue, 0px 0px 0px 1px $blue;
//	border:15px solid $blue;
//	width:100%;
//	height:100%;
//	position:absolute;
//	top:0px;
//	left:0px;
//	@include transition(all 0.4s ease);
//	@include transform(rotateZ(0deg));
//	text-align:right;
//	padding:3em;
//	.showMenu & {
//		@include transform(rotateZ(0deg));
//		@include transition-duration(0.3s);
//	}
//	@include bp(tablet) {
//		.showMenu & {
//			@include transform(rotateZ(20deg));
//			@include transition-duration(0.3s);
//		}
//	}
//}
//
//