.navigation {
	@include bp(tablet) {
		width:$grid * 2;
		float:left;
		//.no-touch &, .no-js & {
			&:hover {
				.menuWrap {
					display:block;
				}
				h1 {
					display:none;
				}
			}
		//}
	}
}

.sinstruct_2014_tag {
	width:100%;
	padding:0;
	@include bp(tablet) {
		width:300px;
		&:hover {
			//z-index:8000;
			.logo {
				@include underlined(transparent);
			}
			.menuWrap {
				display:block;
			}
		}
	}
}

.menuWrap {
	display:block;
	position:relative;
	width:100%;
	height:auto;
	overflow:hidden;
	padding:0;
	margin:0 auto 0 auto;
	@include bp(tablet) {
		min-width:11em;
		width:60%;
		display:none;
		padding:1em;
	}
	@include bp(desktop) {
		padding:1.2em;
	}
}

.menu {
	width:100%;
	background:black;
	color:white;
	list-style:none;
	padding:1em 0;
	//border:0.2em solid rgba(0,0,0,0.1);
	@include bp(desktop) {
		padding:1.5em 0;
	}
	a {
		color:white;
		font-family:'Asul';
		font-weight:700;
		border-bottom:0.18em solid transparent;
		.no-touch & {
			&:hover {
				border-bottom:0.18em solid white;
			}
		}
	}
}


.date {
	@include bp(tablet) {
		width:$grid * 2;
		float:right;
	}
}

.anchor {
	position:relative;
	display:block;
	width:0px;
	height:0px;
	font-size:0.01em
}