.darkSkin {
  background:black;
  color:white;
  .illu {
    //display:none;
    visibility:hidden;
    transition-delay:0s;
  }
  input[type="text"], select {
    background:white;
    color:black;
  }
  table td {
    border-color:rgb(60,60,60);
  }
  input[type="checkbox"], input[type="radio"] {
    &+label {
      &:before {
        border-color:white;
      }
    }
    &:checked+label {
      &:before {
      }
    }
  }
}