.darkSkin {
  background:black;
  color:white;
  .illu {
    //display:none;
    visibility:hidden;
    @include transition-delay(0s);
  }
  .svgContainer {
    //filter:saturate(0.12) contrast(4);
    //-webkit-filter:saturate(0.12) contrast(4);
    //-moz-filter:saturate(0.12) contrast(4);
    //-o-filter:saturate(0.12) contrast(4);
    //-ms-filter:saturate(0.12) contrast(4);
  }
  input[type="text"], select {
    background:white;
    color:black;
  }
  .menu {
    background:white;
    color:black;
    a {
      color:black;
      .no-touch & {
        &:hover {
          border-color:black;
        }
      }
    }
  }
  .sinstruct_2014_tag {
    .logo {
      //@include transition-duration(0.4s);
      @include underlined(white);
    }
  }
  table td {
    border-color:rgb(60,60,60);
  }
  input[type="checkbox"], input[type="radio"] {
    &+label {
      &:before {
        border-color:white;
      }
    }
    &:checked+label {
      &:before {
      }
    }
  }
}