

.svg.splash_1 {
  top:0px;
  .aquarell {
    filter:hue-rotate(0deg) brightness(100%);
    -webkit-filter:hue-rotate(0deg) brightness(100%);
    -moz-filter:hue-rotate(0deg) brightness(100%);
    -o-filter:hue-rotate(0deg) brightness(100%);
    -ms-filter:hue-rotate(0deg) brightness(100%);
  }
  &.state1 .aquarell {
    filter:hue-rotate(20deg) brightness(80%);
    -webkit-filter:hue-rotate(20deg) brightness(80%);
    -moz-filter:hue-rotate(20deg) brightness(80%);
    -o-filter:hue-rotate(20deg) brightness(80%);
    -ms-filter:hue-rotate(20deg) brightness(80%);
  }
}



.svg.splash_2 {
  top:20%;
  .aquarell {
    filter:hue-rotate(75deg) brightness(100%);
    -webkit-filter:hue-rotate(75deg) brightness(100%);
    -moz-filter:hue-rotate(75deg) brightness(100%);
    -o-filter:hue-rotate(75deg) brightness(100%);
    -ms-filter:hue-rotate(75deg) brightness(100%);
  }
  &.state1 .aquarell {
    filter:hue-rotate(90deg) brightness(90%);
    -webkit-filter:hue-rotate(90deg) brightness(90%);
    -moz-filter:hue-rotate(90deg) brightness(90%);
    -o-filter:hue-rotate(90deg) brightness(90%);
    -ms-filter:hue-rotate(90deg) brightness(90%);
  }
}



.svg.splash_3 {
  top:60%;
  .aquarell {
    filter:hue-rotate(90deg) brightness(100%);
    -webkit-filter:hue-rotate(90deg) brightness(100%);
    -moz-filter:hue-rotate(90deg) brightness(100%);
    -o-filter:hue-rotate(90deg) brightness(100%);
    -ms-filter:hue-rotate(90deg) brightness(100%);
  }
  &.state1 .aquarell {
    filter:hue-rotate(120deg) brightness(105%);
    -webkit-filter:hue-rotate(120deg) brightness(105%);
    -moz-filter:hue-rotate(120deg) brightness(105%);
    -o-filter:hue-rotate(120deg) brightness(105%);
    -ms-filter:hue-rotate(120deg) brightness(105%);
  }
}