.illu {
  position:absolute;
  z-index:-10;
  pointer-events:none;
  opacity:0.95;
  //@include transition-duration(0);
  //@include transition-delay(0.45s);
}

/// START PAGE ///

.trenner_1 {
  .illu {
    top: 4.8%;
    left: 7.2%;
    width: 56.69%;
  }
}

.trenner_2 {
  .illu {
    top: 25.5%;
    left: 52.5%;
    width: 34.62%;
  }
}

.trenner_3 {
  .illu {
    top: 1.3%;
    left: 22.1%;
    width: 37.81%;
  }
}

/// MUSIC ///

.music_trenner_01 {
  margin: 0 0 -5% 0;
  @include bp(tablet) {
    margin: -10% 0 -48% 0;
  }
  .illu {
    top: 5.6%;
    left: 22.1%;
    width: 50%;
  }
}

.music_trenner_02 {
  margin: 0 0 -15% 0;
  @include bp(tablet) {
    margin: -16% 0 -29% 0;
  }
}

.music_trenner_03 {
  margin: -12% 0 -19% 0;
  @include bp(tablet) {
    margin: -16% 0 -30% 0;
  }
  .illu {
    width: 49.8%;
    left: 29.2%;
    top: 10.3%;
  }
}


.music_trenner_04 {
  margin: -22% 0 0 0;
}

.artperformance_trenner_01 {
  margin: -10% 0 0 0;
}

@media all and (min-width:600px) {
  .artperformance_trenner_01 {
    margin: -56% 0 -43% 0;
  }
}

.artperformance_trenner_01 .illu {
  top: 15%;
  left: 28.9%;
  width: 50%;
}

.artperformance_trenner_02 {
  margin: 0;
}

@media all and (min-width:600px) {
  .artperformance_trenner_02 {
    margin: -5% 0 -45% 0;
  }
}

.artperformance_trenner_03 {
  margin: 0;
}

@media all and (min-width:600px) {
  .artperformance_trenner_03 {
    margin: 0 0 -37% 0;
  }
}

.artperformance_trenner_03 .illu {
  top: 0;
  left: 21.1%;
  width: 38%;
}

.artperformance_trenner_04 {
  margin: -40% 0 0 0;
}

@media all and (min-width:600px) {
  .artperformance_trenner_04 {
    margin: -5% 0 0 0;
  }
}

.artperformance_trenner_04 .illu {
  top: 0;
  left: 0;
  width: 50%;
}

.info_trenner_01 {
  margin: 0;
}

@media all and (min-width:600px) {
  .info_trenner_01 {
    margin: -20% 0 -39% 0;
  }
}

.info_trenner_01 .illu {
  top: -1%;
  left: 7%;
  width: 42%;
}

.info_trenner_02 {
  margin: 0;
}

@media all and (min-width:600px) {
  .info_trenner_02 {
    margin: -10% 0 -30% 0;
  }
}

.info_trenner_02 .illu {
  top: 18%;
  left: 50%;
  width: 48%;
}

.info_trenner_03 {
  margin: 0;
}

@media all and (min-width:600px) {
  .info_trenner_03 {
    margin: -2% 0 -32% 0;
  }
}

.info_trenner_03 .illu {
  top: 2%;
  left: 18%;
  width: 49%;
}

.info_trenner_04 {
  margin: 0;
}

@media all and (min-width:600px) {
  .info_trenner_04 {
    margin: 0;
  }
}

.info_trenner_04 .illu {
  top: 0;
  left: 0;
  width: 50%;
}