* {
	box-sizing: border-box;
	padding:0;
	margin:0;
	vertical-align:top;
	font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing:antialiased;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
	//text-rendering:optimizeLegibility;
}

html {
	font-size: 100%;
	height:100%;
}

body {
	padding:0;
	margin:0;
	background:white;
	font: 400 1.1em/1.3em 'Montserrat', 'Helvetica Neue', Helvetica, Arial;
	color: black;
	line-height:1.3em;
	font-weight:normal;
	width:100%;
	//overflow:hidden;
	min-height:100%;
	position:relative;
	@include transition(all 0.4s ease);
}

.body {
	width:100%;
	position:relative;
	height:auto;
	overflow:hidden;
}

nav, header, main, footer {
	position:relative;
	width:100%;
	padding:0;
	margin:0;
}

a {
	text-decoration:none;
	color:inherit;
	outline:0;
	color:$blue;
	&.blueLink {
		font-family:Asul;
		font-weight:700;
		@include underlined($blue);
	}
	&.blackLink {
		color:black;
	}
}

h1, h2, h3, h4 {
	padding:0;
	margin:0;
	text-rendering:optimizeLegibility;
}

h3, h4 {
	font-family:'Montserrat','Helvetica Neue', Helvetica, Arial;
	font-weight:700;
}

h1, h2 {
	font-family:'Asul', 'Helvetica Neue', Helvetica, Arial;
	font-weight:700;
}

p, label, table, ol {
	font-size:0.75em;
	line-height:1.4em;
	text-align:left;
	@include bp(tablet) {
		font-size:0.7em;
	}
}

ol {
	list-style-type:lower-latin;
	li {
		padding-left:0.8em;
		padding-bottom:1.1em;
	}
}

label {
	display:block;
	margin-bottom:0.7em;
}

p, ol {
	margin-bottom:1.35em;
	a {
		font-family:'Montserrat';
	}
}

.error {
	color:$red;
	display: inline-block;
	width: auto;
	padding: 0.5em 0.9em;
	border: 0.4em solid $red;
	margin-bottom: 2.5em;
	@include transform(rotate(-4deg));
}

.inputDetails {
	text-align: right;
	opacity: 0.4;
}

.hvhb {
	color:$green;
}

.anker1, .anker2 {
	display:block;
	padding:0;
	margin:0;
	width:0px;
	height:0px;
	opacity:0;
	visibility:hidden;
}

