form {
  position:relative;
  width:100%;
  height:auto;
  //overflow:hidden;
}
input, select, button, textarea {
  outline:0;
  border:0;
  -webkit-appearance:none;
  -moz-appearance: none;
  font-family:Asul;
  font-size:1.1em;
  background:black;
  color:white;
  @include border-top-radius(0px);
  @include border-bottom-radius(0px);
  padding:0.4em 0.2em;
  margin-bottom:0.6em;
  font-weight:700;
  clear:both;
  width:100%;
  @include bp(tablet) {
    width:auto;
  }
  &[readonly="readonly"] {
    background:white;
    background:rgba(0,0,0,0.2);
    color:black;
    box-shadow:inset 0px 0px 0px 0.2em black;
    .darkSkin & {
      background:black;
      background:rgba(255,255,255,0.3);
      color:white;
      box-shadow:inset 0px 0px 0px 0.2em white;
    }
  }
}

textarea {
  padding:1em;
  width:100%;
  max-width: 100%;
  min-height:140px;
  margin-bottom:0.85em;
  @include bp(tablet) {
    min-height:200px;
  }
}

select {
  padding:0.8em;
  width:100%;
  outline: none;
}

.ticketInput {
  position: relative;
  width:100%;
  margin-bottom:0.85em;
  white-space: nowrap;
}

input[type="text"] {
  padding:0.8em;
  width:100%;
  display:block;
  margin-bottom:0.85em;
  .ticketInput & {
    width:45%;
    display: inline-block;
    margin-bottom:0;
    &:first-child {
      text-align:right;
    }
  }
}

.ticketInputTrenner {
  display: inline-block;
  margin:0;
  text-align:center;
  width:10%;
  line-height:1em;
  font-size:2.6em;
}

.correctCode {
  color:$green;
  font-size:95px;
  position: absolute;
  right:30px;
  top:0px;
  width:100px;
  height:100px;
  text-align:center;
  line-height: 100px;
  margin:-50px -50px 0px 0px;
  font-family: "Arial Unicode MS", Arial, arial, sans-serif;
}

input[type="submit"], button {
  //padding:0;
  background:none;
  display:block;
  font-weight:700;
  cursor:pointer;
  color:$blue;
  font-family:Asul;
  font-weight:700;
  font-size:1.1em;
  //background:$blue;
  //color:white;
  border:.2em solid $blue;
  margin-top:0.3em;
  //@include underlined($blue);
  &:hover {
    color:$red;
    border-color:$red;
  }
  &#next {
    float:right;
  }
  @include bp(tablet) {
    //color:$blue;
    //background:transparent;
    display:inline-block;
    margin-top:0;
    padding:0;
    border-top:0;
    border-left:0;
    border-right:0;
    display:inline;
    //@include underlined($blue);
  }
  //&.blueLink {
  //  font-family:Asul;
  //  font-weight:700;
  //  //background:$blue;
  //  //color:white;
  //  border:.3em solid $blue;
  //  margin-top:1em;
  //  padding:0.4em 0.2em;
  //}
}

input[type="checkbox"], input[type="radio"] {
  display:none;
  &+label {
    cursor:pointer;
    margin-top:1em;
    margin-bottom:1.3em;
    &:before {
      content: '.';
      position:relative;
      text-align:center;
      display:inline-block;
      float:left;
      line-height:2em;
      font-weight:bolder;
      font-family:'Helvetica', 'Arial';
      margin-right:1em;
      margin-bottom:0.2em;
      width:2em;
      height:2em;
      //background:$blue;
      border:0.4em solid black;
      color:transparent;
    }
    &:hover {
      &:before {
        border-color:$green;
      }
    }
  }
  &:checked+label {
    &:before {
      content: '\2713';
      border-color:$blue;
      color:$blue;
    }
  }
  .checkbox-list & {
    &+label {
      display: inline-block;
      width:auto;
      line-height:2.5em;
      margin-top:0;
      margin-bottom:0.7em;
      &:before {
        display: inline-block;
        margin-right:0.5em;

      }
    }
  }
}

.selectWrap {
  //text-align:center;
  width:100%;
  float:right;
  //margin:0 auto;
  max-width:420px;
  label, p {
    //text-align:center;
  }
  label {
    //font-size:0.9em;
    margin-bottom:0.4em;
  }
  select {
    //min-width:300px;
    width:100%;
    text-align:center;
    margin-bottom:0.4em;
  }
}