form {
	width:100%;
	overflow:hidden;
}
input, select {
	outline:0;
	border:0;
	-webkit-appearance:none;
	font-family:Asul;
	font-size:1.1em;
	background:black;
	color:white;
	@include border-top-radius(0px);
	@include border-bottom-radius(0px);
	padding:0.8em;
	margin-bottom:0.6em;
	font-weight:700;
	clear:both;
}

input[type="text"] {
	width:100%;
	display:block;
	margin-bottom:0.8em;
}

input[type="submit"] {
	display:inline-block;
	padding:0;
	background:none;
	font-weight:700;
	cursor:pointer;
	color:$blue;
	@include underlined($blue);
	&:hover {
		color:$red;
		border-color:$red;
	}
	&#next {
		float:right;
	}
}

input[type="checkbox"], input[type="radio"] {
	display:none;
	&+label {
		cursor:pointer;
		margin-top:1em;
		margin-bottom:2em;
		&:before {
			content: '.';
			position:relative;
			text-align:center;
			display:inline-block;
			float:left;
			line-height:2em;
			font-weight:bolder;
			font-family:'Helvetica', 'Arial';
			margin-right:1em;
			width:2em;
			height:2em;
			//background:$blue;
			border:0.5em solid black;
			color:transparent;
		}
	}
	&:checked+label {
		&:before {
			content: '\2713';
			border-color:$blue;
			color:$blue;
		}
	}
}